:root {
    --primary-color: #ffdfc8;
    --secondary-color: #ff761b;
  }
  
  *{
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-color);
    margin: 1rem;
    font-weight: 600;
  }
  
  .button {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 1rem;
    width: 10rem;
    height: 3rem;
    border-color: var(--primary-color);
    cursor: pointer;
  }
  
  .button:hover
  {
    scale: 1.1;
    opacity: 0.8;
    box-shadow: 5px 10px #0000002f;
    color: black;

  }

  .button:focus {
    border: none;
  }
  
  .main-title {
    text-align: center;
    margin-left: 2rem;
  }
  
  li {
    list-style: none;
    margin-bottom: 1.25rem;
  }
  
  .container {
    text-align: center;
    align-items: center;
    margin-top: 5rem;
  }
  
  .navbar {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .nav-img {
    width: 2.5rem;
  }
  
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0, .8);
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
  }

  .modal-content {

    transform: translateY(60%);
    box-shadow: 5px 10px 10px #4a4a4a;

  }

  .modal-header, .modal-body, .modal-footer {
    padding: 1.25rem;
  }

  .btn-secondary {
    background-color: var(--secondary-color);
    border: none;
  }

  .close {
    font-weight: 300;
    color: black;
  }

  h3 {

    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
  }

  p {
    white-space: nowrap;
    margin: 8px 0px 8px 0px;
    }
  
  /* media queries */
  @media all and (max-width : 500px) {
    .button {
      width: 10rem;
      font-size: 0.7rem;
    }
  
  }
  